@page
@model PS3.Pages.Searches.DeleteModel

@{
    ViewData["Title"] = "Usuń";
}

<h1>Usuń</h1>

<h3>Czy na pewno chcesz usunąć wyszukiwanie?</h3>
<div>
    <h4>Wyszukiwanie</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Search.Number)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Search.Number)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Search.Result)
        </dt>
        <dd class="col-sm-10">
            @Model.Search.ResultToString()
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Search.SearchDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Search.SearchDate)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Search.Id" />
        <input type="submit" value="Usuń" class="btn btn-danger" /> |
        <a asp-page="./Index">Powrót</a>
    </form>
</div>
